<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>{{hello}}</h1>
            <form>
                <div class="form-group">
                  <label for="is">Month</label>
                  <input ng-model="month"  id="is" type="text" class="form-control">
                  <small  class="form-text text-muted">Introduce a month in the format 01 -> January</small>
                </div>
               
                <p class="text-center"><button ng-click="consultar()" type="submit" class="btn btn-primary">Consult</button></p>
                
              </form>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card" ng-repeat="obj in datos">
                <ul class="list-group list-group-flush" >
                  <li class="list-group-item">{{obj}}</li>
                </ul>
              </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>