<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>{{hello}}</h1>
            <form>
                <div class="form-group">
                  <label for="is">IS</label>
                  <input ng-model="IS" style="text-transform: uppercase;" id="is" type="text" class="form-control">
                  <small  class="form-text text-muted">IS of the student</small>
                </div>
                <div class="form-group">
                  <label for="m">Month</label>
                  <input ng-model="month" type="text" class="form-control" id="m">
                  <small  class="form-text text-muted">month in the format 01 -> January</small>
                </div>
                <p class="text-center"><button ng-click="consultar()" type="submit" class="btn btn-primary">Consult</button></p>
                
              </form>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">horas: {{horas}}</div>
        <div class="col-5"></div>
    </div>
</div>